@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar {
  width: 100%;
  min-height: 80px;

  background-color: #214cce;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 0 30px;
}

#logoNav {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#circuloLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circuloExtremidade:hover {
  cursor: pointer;
}

#imgLogo {
  width: 75px;
  height: 75px;
}

#itensNav {
  display: flex;
  flex-direction: row;
}

.txtLink {
  margin: -6px 0 0;
}

.linkNav {
  color: #ffffff;

  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;

  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkNav:hover {
  color: #f8d000;
}

.icon {
  color: #f8d000;
  font-size: 27px;

  transition: all 0.3s ease;
}

.linkNav:hover .icon {
  color: #ffffff;
}

.divisaoNav {
  width: 35%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navDireita {
  background-color: transparent;

  /* width: 400px; */
}

#navDireitaAssociar {
  background-color: transparent;

  width: 440px;
}

#espaco {
  width: 370px;
  height: 30px;

  margin: 0 0 0 0;

  background-color: transparent;
}

#espacoAssociar {
  width: 160px;
  height: 30px;

  background-color: transparent;
}

#containerPesquisaInfo {
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixaAberta {
  background-color: #ffffff;

  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoAberto {
  background-color: #ffffff;

  width: 300px;
  height: 40px;

  border-radius: 25px;

  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.botaoAbertoAssociar {
  background-color: #ffffff;

  width: 240px;
  height: 40px;

  border-radius: 25px;

  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#botaoAbrirPesquisa:hover {
  cursor: pointer;
}

#iconLupa {
  color: #214cce;

  margin: 6px 0 0 2px;

  font-size: 22px;

  transition: all 0.2s ease;
}

.botaoAberto #iconLupa {
  margin: 6px 0 0 10px;
}

.botaoAbertoAssociar #iconLupa {
  margin: 6px 0 0 10px;
}

#caixaPesquisa {
  background-color: transparent;

  width: 90%;
  margin: 0 10px 0;
}

#inputCaixaPesquisa {
  border: none;
  outline: none;

  background-color: transparent;

  color: #5f5f5f;
  font-size: 16px;

  padding: 10px;

  width: 100%;
  height: 20px;
}

#containerCaixaPesquisa:hover #caixaPesquisa {
  border: none;
  outline: none;

  background-color: transparent;

  color: #5f5f5f;
  font-size: 16px;

  padding: 10px;

  width: 200px;
  height: 20px;
}

.caixaAberta #iconFechar {
  color: #214cce;
  font-size: 20px;

  margin: 3px 14px 0 0;

  transition: all 0.2s ease;
}

#iconFechar:hover {
  color: #4f7bff;
}

#iconFechar:hover {
  cursor: pointer;
}

#linkInfo {
  text-decoration: none;

  border-radius: 50%;
}

#linkInfo:hover {
  cursor: pointer;
}

#circuloInfo {
  background-color: #ffffff;

  width: 16px;
  height: 16px;

  border-radius: 50%;

  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

#circuloInfo:hover {
  background-color: rgb(20, 200, 200);
}

#txtInfo {
  color: #214cce;
  font-family: "Courgette", cursive;
  font-size: 14px;
}

#containerPerfil {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#btnAssociar {
  background-color: #f8d000;

  min-height: 40px;

  padding: 6px 24px;

  border-radius: 20px;
  border: none;

  color: #214cce;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3s ease;
}

#btnAssociar:hover {
  background-color: #ffffff;
}

#circuloPerfil {
  width: 65px;
  height: 60px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#iconPerfil {
  width: 55px;
  height: 55px;
}

/* CODIGO MAIN */

#main {
  background-color: #e7e7e7;

  width: 100%;
  min-height: 91.7vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#centroMain {
  background-color: transparent;

  width: 90%;
  min-height: 91.7vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#centroEsquerda {
  background-color: transparent;

  width: 40%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

#centroDireita {
  background-color: transparent;

  width: 40%;
  height: 80vh;
  
  padding: 0 30px 0 0;

  display: flex;
  align-items: end;
  flex-direction: column;
}

/* CODIGO BOTOES */

.link-botao {
  background-color: #214cce;

  text-decoration: none;

  border-radius: 15px;

  width: 672px;
  height: 220px;
  margin: 20px;

  box-shadow: 5px 5px 8px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  position: relative;

  border: 1.8px solid white;
  border-radius: 15px;

  width: 640px;
  height: 200px;
}

#baturite {
  background-image: url("imgCss/matriz-baturite.jpg");
  background-size: cover;
  background-position-y: 60%;
}

#aracoiaba {
  background-image: url("imgCss/Matriz\ Aracoiaba.png");
  background-size: cover;
  background-position-y: 100%;
}

#capistrano {
  background-image: url("imgCss/Matriz\ Capistrano.png");
  background-size: cover;
  background-position-y: 100%;
}

.porta {
  background-color: transparent;

  transition: all 0.3s ease;
}

.botao,
.cidade {
  display: flex;
  align-items: center;
  justify-content: center;
}

#porta-1 {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(180deg);

  width: 0;
  height: 0;

  border-top: 80px solid transparent;
  border-right: 80px solid #214cce;
  border-bottom: 80px solid #214cce;
  border-left: 80px solid transparent;
  border-radius: 0 0 15px 0;
}

#porta-2 {
  position: absolute;
  bottom: 0;
  right: 0;

  transform: rotate(180deg);

  width: 0;
  height: 0;

  border-top: 100px solid #214cce;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #214cce;
  border-radius: 15px 0 0 15px;
}

.cruzeiro {
  position: absolute;
  top: -10px;
  left: -8px;

  width: 140px;
  height: 90px;

  transition: all 0.3s ease;
}

.cidade,
h1 {
  background-color: transparent;
  font-family: 'urbanist', sans-serif;
  color: white;
}

#batu {
  font-size: 7.5rem;

  transition: all 0.3s ease;
  /* -webkit-text-stroke: rgb(0, 0, 0) 1px;  */
}

#arac {
  font-size: 6.5rem;

  transition: all 0.3s ease;
  /* -webkit-text-stroke: rgb(0, 0, 0) 1px;  */
}

#capi {
  font-size: 6rem;

  transition: all 0.3s ease;
  /* -webkit-text-stroke: rgb(0, 0, 0) 1px;  */
}

.botao:hover {
  cursor: pointer;
}

.botao:hover #porta-1 {
  width: 0;
  height: 0;

  border-top: 40px solid transparent;
  border-right: 40px solid rgb(0, 0, 41);
  border-bottom: 40px solid rgb(0, 0, 41);
  border-left: 40px solid transparent;
  border-radius: 0 0 15px 0;
}

.botao:hover #porta-2 {
  width: 0;
  height: 0;

  border-top: 50px solid rgb(0, 0, 41);
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid rgb(0, 0, 41);
  border-radius: 15px 0 0 0;
}

.botao:hover .cruzeiro {
  position: absolute;
  top: -10px;
  left: -4px;

  width: 80px;
  height: 50px;
}

.bandeira {
  position: absolute;
  bottom: 30px;
  right: 20px;
  
  border-radius: 5px;

  width: 75px;
  height: 50px;

  transition: all 0.3s ease;

  z-index: 5;
}

.botao:hover .bandeira {
  position: absolute;
  bottom: 10px;
  right: 6.6px;

  width: 45px;
  height: 30px;
}

.botao:hover #batu {
  font-size: 7rem;
}

.botao:hover #arac {
  font-size: 5.9rem;
}

.botao:hover #capi {
  font-size: 5.5rem;
}

/* CODIGO CARROSSEL */

.imagemCarrossel {
  width: 416px;
  height: 799px;
}

#carousel {
  width: 416px;
  height: 799px;

  overflow: hidden;

  position: relative;

  border-radius: 10px;
}

#carousel ul {
  list-style: none;

  width: 1248px;
  height: 300px;

  padding: 0;
  margin: 0;

  position: absolute;

  transition: 0.5s;
}

#carousel ul li {
  width: 416px;
  height: 799px;
  
  float: left;
}

.img{
  width: 800px;
  height: 700px;
  margin-top: -40px;
  margin-right: 20px;
}
.titulo{
  font-weight: 800;
  font-size: 60px;
  margin-right: 30px;
  margin-top: 50px;
  color: #214cce;
}
#centroDireita{
  width: 1000px;
}
#titulo1{
  margin-right: 360px;
  font-weight: 700;
  font-family: 'urbanist', sans-serif;
  font-size: 30px;
  color: #214cce;
}